@media (min-width: 1280px) {
    .logo {
        max-width: 1309px;
        margin: 0px auto 0px;
    }

    .social {
        max-width: 1309px;
        margin: 0 auto;
    }

    body {
        padding: 50px 50px 0px;
    }
}

@media (max-width: 1280px) {
    .logo {
        width: 709px;
        margin: 50px auto 0px;
    }

    .container {
        flex-wrap: wrap;
        height: max-content;
        justify-content: center;
    }

    main {
        height: max-content;
        justify-content: center;
    }

    .hero-text {
        padding-left: 0px;
        text-align: center;
    }

    .hero-text .btn-register {
        align-self: center;
    }

    .social {
        margin-top: 50px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero-text {
        text-align: center;
        padding: 0px;
        max-width: 80%;
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        margin-top: 50px;
    }

    .hero-text .title {
        font-size: 22px;
    }

    .hero-text .subtitle {
        font-size: 16px;
    }

    .hero-text .btn-register {
        align-self: center;
    }

    .social {
        margin-top: 55px;
        justify-content: center;
    }

    .container {
        max-width: 100%;
    }

    .hero {
        text-align: center;
    }

    .hero img {
        width: 80%;
    }

    .logo {
        width: 80%;
        margin: 50px auto 0px;
    }

    body {
        padding: 0px 50px;
    }
}


@media (max-width: 425px) {
    .logo img{
        width: 50%;
    }
}